@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Gruppo&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(236, 235, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gruppo', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    padding: 10px 0;
    margin: 10px 0;
}

span {
    font-size: 14px;
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    width: 1200px;
    height: 800px;
    max-width: 100%;
    min-height: 480px;
}

.card-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.left-container {
    width: 50%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    height: 100%;
}

input, button, .form-control{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    padding: 12px 15px;
	margin: 0 10px 15px;
	width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[name="card_details"] {
    width: 100%;
    margin: 0;
}

.item1{grid-area: card-number;}
.item2{grid-area: month;}
.item3{grid-area: cvc;}

.grid-container {
    display: grid;
    grid: 
    'card-number card-number'
    'month cvc';
    width: 80%;
}

input[type=checkbox] {
    margin: 0 5px 0;
    width: fit-content;
}

label {
    font-size: 17px;
    width: 80%;
    float: left;
}

.right-container {
    width: 50%;
    inset-inline: 50% 0;
    background: url(./images/texture2.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal {
    width: 80%;
    padding: 15px;
    margin: 15px;
    text-align: left ;
}

.price-tab > h1, p {
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    font-weight: bolder;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.973);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {background-color: #00000000;}
input:focus + .slider {box-shadow: 0 0 1px #050505;}
  
input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.detail-tab {
    width: 80%;
    border-radius: 7px;
    border: 1px solid white;
    text-align: left;
    color: white;
    background: rgba(131, 133, 131, 0.432);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 20px;
}

.price-list {
    margin: 10px;
    width: 80%;
    text-align: left;
}

a{color: white;}


